@model cumalative1.Models.Teacher
@{
    ViewBag.Title = "Show";
}

<a class="navlink" href="/Teacher/List">Back To Teacher</a>
<div id="containershow">
    <a class="dellink" href="/Teacher/DeleteConfirm/@Model.teacherId">Delete</a>
    <h2>@Model.teacherFname @Model.teacherlname</h2>
</div>